*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    padding: 1px;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

a{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-left: 23px;
}

a:hover{
    opacity: .3;
}

.button-header:active{
    scale: .9;
}

.button-header{
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 20.5px;
    background-color: #665AE1;
    cursor: pointer;
    margin-left: 23px;
    
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.button-header:hover{
    opacity: 0.3;
}

section{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

img{
    margin-left: 1rem;
    padding: 1rem;
    width: 468px;
    height: 400px;
    
}

.section-paragrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-left: 1rem;
}

h1{
    
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    
}

h2{
    
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    
}

p{
    justify-content: center;
    display: flex;
    align-items: center;
    size: 24px;
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-top: 20px;
    
}

.button-section{
    width: 239px;
    height: 64px;
    border: none;
    border-radius: 39.5px;
    background-color: #ADFF00;
    cursor: pointer;
    margin-top: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px #252525);

}

.button-section:hover{
    opacity: 0.8;
}

.button-section:active{
    scale: .9;
}


@media screen and (max-width: 600px) {
    header{
        display: none;
    }

    img{
        
        width: 354px;
        height: 317px;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        
        font-size: 63px;
        line-height: 61px;
        height: 52px;
    }

    h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
    }

    p{
        display: none;
    }

    .section-paragrafo{
        gap: 30px;
    }      
}


@media screen and (max-width: 850px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 63px;
        line-height: 61px;
        height: 52px;
    }

    h2{
        font-weight: 500;
        font-size: 35px;
        line-height: 37px;
    }

    p{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-paragrafo{
        gap: 30px;
    }

    .button-section{
        position: static;
    }

    .button-header{
        width: 130px;
        height: 41px;
        font-size: 10px;
    }

}



@media screen and (max-width: 450px) {
    header{
        display: none;
    }

    img{
        position: static;
        margin-left: auto
    }

    section{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 50px;
        line-height: 61px;
        height: 52px;
    }

    h2{
        font-weight: 500;
        font-size: 25px;
        line-height: 37px;
    }

    p{
        display: none;
    }

    .button-section{
        position: static;
    }

}
